header {
    background-color: #458b74; /* Màu nền của header */
    color: #fff; /* Màu chữ trong header */
    padding: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 100px;
  }
  
  .logo img {
    height: 100px;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .navigation li {
    margin-left: 10px;
  }
  
  .navigation li:first-child {
    margin-left: 0;
  }
  
  
  
  
  
  
  .navigation li {
    display: inline-block; /* Hiển thị các mục điều hướng theo hàng ngang */
    margin-right: 10px; /* Khoảng cách giữa các mục điều hướng */
  }
  
  .navigation li:last-child {
    margin-right: 0; /* Không có khoảng cách sau mục điều hướng cuối cùng */
  }
  
  .navigation li a {
    color: #fff; /* Màu chữ của các mục điều hướng */
    text-decoration: none; /* Loại bỏ gạch chân */
  }
  
  .navigation li a:hover {
    color: #ff0000; /* Màu chữ khi di chuột qua */
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* CSS cho phần add-product */
  .add-product {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .add-product h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .add-product .message-p {
      margin-bottom: 10px;
    }
    
    .add-product .common-form {
      margin-top: 20px;
    }
    
    .add-product label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .add-product .form-input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    .add-product .form-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: blue;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    
    .add-product .form-button:hover {
      background-color: darkblue;
    }